p{
	text-align: center;
}

.login{
	padding: 30px;
}
.center h2{
	text-align: center;
}
.fundoT{
background-image: url(fundoo.jpg);
-moz-background-size: 100% 100%;
-webkit-background-size: 100% 100%;
background-size: 100% 100%;
}
.animais img{
	margin: 50px;
}

.animais p{
	text-align: center;
}

.tipo{
	text-align: center;
	margin-top: -60px;
	margin-bottom: 20px;
}

.corlinha{
	background-color: blue;
}

.azul{
	background-color: blue;


}
.negrito {
	font-weight

}

.h2{
	text-align: center;

}
.botao{
	margin-top: 20px;
	width: 200px;
}



.fundolink{
	color: white;
	font-weight: 
}

footer{
	background-color:rgba(255,255,0,0.4);
}

.centro p{
	text-align: center;

}
.cor{
	background: #F4A460

}
.centro div{
	margin: 0 auto;

}
.cor{
	background: #9ACD32;

}

footer li{
	list-style-type:disc;

}
footer{
	padding: 20px;
}
.alinhar{
	margin-left: 38%;
}
body{
	overflow-x: hidden;
}
.imagens img{
	height: 200px;
	width: 100%;
}
.imagens p{
	color: rgb(57,181,74);
}
.imagens div:hover{
	border: 1px solid blue;
	padding: 25px;
	display: block;
}
.imagens button{
	opacity: 0;
	display: block;
}
.imagens div:hover button{
	opacity: 1;
	margin: 0 auto;
}

<<<<<<< HEAD
.centralizar{
	text-align: center;
}
=======
 
>>>>>>> 9ca5ec193a8065238d8c4eee3965a33b386ab704
