p{
	text-align: center;
}

.login{
	padding: 30px;
}
.center h2{
	text-align: center;
}
.animais img{
	margin: 50px;
}

.animais p{
	text-align: center;
}

.tipo{
	text-align: center;
	margin-top: -60px;
	margin-bottom: 20px;
}

.corlinha{
	background-color: blue;
}

.azul{
	background-color: blue;


}
.negrito {
	font-weight

}

.h2{
	text-align: center;

}
.botao{
	margin-top: 20px;
	width: 200px;
	height: 190px;
}
.botao-link:hover{
	text-decoration: none;
}
.fundolink{
	color: white;
	font-weight: 
}

.centro p{
	text-align: center;

}
.cor{
	background: #778899;

}
.centro div{
	margin: 0 auto;
}
.center{
	margin-top: 20px;
}
footer li{
	list-style-type:disc;

}
footer{
	padding: 40px;
	background-color: #778899;
}
.alinhar{
	margin-left: 38%;
}
body{
	overflow-x: hidden;
}
.imagens img{
	height: 200px;
	width: 100%;

}
.imagens p{
	color: #778899;
}
.imagens div:hover{
	border: 1px solid blue;
	padding: 25px;
	display: block;
	margin-bottom: 10px;
	transition: 1s;
}
.imagens button{
	opacity: 0;
	display: block;
}
.imagens div:hover button{
	opacity: 1;
	margin: 0 auto;
}

.centralizar, .centralizar h5,p{
	text-align: center;
}
.racas img{
	height: 150px;
	width: 100%;
	margin: 20px;
}
.racas p{
	text-align: center;
	text-indent: 20px;
	font-size: 20px;
	font-weight: bold;
}
.esquerda{
	text-align: left;
}

.direita{
	text-align: right;
}
section{
	background: #778899;
	padding: 20px 50px 20px 20px;
	margin-bottom: 15px;
}
section img:hover{
	border: 2px solid white;
}
.novacor{
color: black;
}
.ajuste{
	margin: 30px;
}
.tab-pane, .nav-link{
	transition: 2s;
}
.slide img{
	width: 100%;
	height: 500px;
	padding-right: 60px;
}