p{
	text-align: center;
}
<<<<<<< HEAD
.login{
	padding: 30px;
}
.center h2{
	text-align: center;
}
.button{
	
=======
<<<<<<< HEAD
	.fundoT{
background-image: url(fundo.png);
background-repeat: no-repeat;
-moz-background-size: 100% 100%;
-webkit-background-size: 100% 100%;
background-size: 100% 100%;
=======
.animais img{
	margin: 50px;
}

.animais p{
	text-align: center;
}

.tipo{
	text-align: center;
	margin-top: -60px;
	margin-bottom: 20px;
}

.corlinha{
	background-color: blue;
}

.azul{
	background-color: blue;
>>>>>>> 01b515504e10f7654ef5fda11bae11208c390864
>>>>>>> 89e4c9421de7673716dab4e13ebaf1acffcd7b6c
}