p{
	text-align: center;
}
.login{
	padding: 30px;
}
.center h2{
	text-align: center;
}
.button{
background-image: url(fundo.png);
background-repeat: no-repeat;
-moz-background-size: 100% 100%;
-webkit-background-size: 100% 100%;
background-size: 100% 100%;
}
.animais img{
	margin: 50px;
}

.animais p{
	text-align: center;
}

.tipo{
	text-align: center;
	margin-top: -60px;
	margin-bottom: 20px;
}

.corlinha{
	background-color: blue;
}

.azul{
	background-color: blue;

}

.h2{
	text-align: center;

}
.botao{
	margin-top: 20px;
	width: 200px;
}
footer{
	background-color: #FF6347;
}